wcf_client_app/wcf_client_app/Service References/test_svc/Service22.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:41477/services/Service2.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/wcf_host.models.V2" />
  <xs:element name="DoWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/wcf_host.models.V2" minOccurs="0" name="request" nillable="true" type="q1:TierRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoWorkResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoAnotherWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/wcf_host.models.V2" minOccurs="0" name="request" nillable="true" type="q2:AnotherWorkRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoAnotherWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoAnotherWorkResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoDifferentRequestFormatWork">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/wcf_host.models.V2" minOccurs="0" name="request" nillable="true" type="q3:DifferentFormatRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DoDifferentRequestFormatWorkResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DoDifferentRequestFormatWorkResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>